a {
    color: dodgerblue;
    text-decoration-line: none;
}

body {
    font-family: sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    color: #0e2c57;
}

header {
    background-color: #2eb9f7;
    font-size: 1.6rem;
    height: 240px;
    width: 100%;
}

footer {
    height: 120px;
    padding: 33px;
    text-align: center;
}

table {
    margin: auto;
}

/* classes */

.carousel-item {
  text-align: center;
}

.credits {
    margin: 100px auto 0;
    text-align: right;
}

.faq {
    font-size: 1.1rem;
    margin: auto;
    width: 921px;
}

.faq h2 {
    text-align: center;
}

.game-roadmap table {
    width: 921px;
}

.developer {
    padding-left: 40px;
}

.game-description {
    margin: auto;
    text-align: left;
    width: 921px;
}

.game-links {
    margin: auto;
    text-align: right;
    width: 921px;
}

.game-links button {
    margin: 10px 0px 10px 4px;
}

.slogan {
    color: white;
    margin: auto;
    text-align: center;
}

.header-icons {
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: white;
}

@keyframes slidein {
    from {
        margin-left: 70%;
        width: 100%;
    }

    to {
        margin-left: 20%;
        width: 100%;
    }
}